<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication6.Properties.Settings.DepartmentsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;..\..\Departments.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>